@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Index</h2>

    <div class="btn-group btn-group-justified">
        <a href="@Url.Content("/todoes")" class="btn btn-default">Todo</a>
        @*<a href="@Url.Content("/chat")" class="btn btn-default">Chat</a>*@
        <a href="@Url.Content("/blog")" class="btn btn-default">Blog</a>
      </div>
</div>
