@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/blog")
}

@Html.Hidden("Posts", Html.Raw((string)ViewBag.Posts))

<div class="container">
    <h1>Blog</h1>

    <!-- ko with: postControlViewModel -->
    <form data-bind="submit: add">
        <!-- ko with: NewPost -->        
        <input class="span12" type="text" data-bind="value: Title" />        
        <textarea class="span12" rows="5" data-bind="value: Content"></textarea>
        <input class="btn btn-primary" type="submit" value="Adicionar Post" />
        <!-- /ko -->
    </form>

    <br />

    <ul class="unstyled" style="display: none;" data-bind="visible: Posts().length > 0">
        <!-- ko foreach: Posts -->
        <li>
            <h3 data-bind="text: Title"></h3>

            <div class="well well-small">
                <i class="icon-user"></i>
                <a data-bind="click: showAuthor, text: author"></a>
                ::
                <i class="icon-calendar"></i>
                <span data-bind="text: date"></span>
            </div>

            <p data-bind="html: Content"></p>

            <!-- ko if: $index !== 0 -->
            <hr />
            <!-- /ko -->
        </li>
        <!-- /ko -->
    </ul>

    <input type="button" style="display: none;" data-bind="click: morePosts, visible: hasMorePosts" />
    <!-- /ko -->
</div>
